body{
    background-color: #ededed;
}

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header h3 { 
    text-overflow: ellipsis;
    overflow:hidden;
    text-wrap:nowrap;
}

.highlight{
    background-attachment: #fff3cd;
    transition: background-color 0.5s ease-in-out;
    border: 20x solid #ffc107;
}